.smallDetails {
  padding-top: 50%;
  padding-bottom: 50%;
  width: 90vw;
  background-color: rgb(31, 237, 168);
  border-radius: 30px;
}

.popmenu {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90vw;
  background-color: rgb(245, 233, 220);
  border-radius: 20px;
  border: 1px solid rgb(254, 143, 143);
}
.popmenu h1 {
  color: rgb(233, 112, 19);
}
.popmenu h2 {
  color: rgb(233, 112, 19);
}
.details {
  size: 20px;
}
